# Python virtual environments
.venv/
venv/
ENV/

# Poetry
poetry.lock
dist/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

#Pytest
.pytest_cache/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore frontend build artifacts
node_modules/
dist/
build/
*.env
.DS_Store
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock